@{
    Layout = "~/Views/Shared/_CLayout.cshtml";
}

<section id="section-1" style="text-align:center;">
    <h2 class="text-success">Thanks! You have been logged out and your order has been successfully submitted!</h2>
</section>
<script type="text/javascript">
    setTimeout(function () {
        window.location.reload(1);
    }, 5000);
</script>