
@{
    ViewBag.Title = "NoShirts";
}
@{
    Layout = "~/Views/Shared/_CLayout.cshtml";
}

<section id="section-1" style="text-align:center;">
    <h2 class="text-info">Thank you for visiting the KD T-Shirt Emporium. There are no shirts are available for purchase right now. Please check back later.</h2>
</section>

