@{
    Layout = "~/Views/Shared/_CLayout.cshtml";
}

<section id="section-1" style="text-align:center;">
    <h2 class="text-success">Thanks! Your order has been successfully submitted!</h2>
</section>
